.page.theme_dark {
  --accent-color: #ff0070;
  --primary-color: #db00ff;
  --secondary-color: #ff0070;
  --highlight-color: #ff007040;
  --tretiary-color: #000028;

  --page-text-color: #f1b2ce;
  --page-background-color: #000028;
  --page-background-image: url("../images/cover-image-dark.png");

  --rec-visibility: visible;
}