.page.theme_light {
  --accent-color: #ff8dcb;
  --primary-color: #ffc2e6;
  --secondary-color: #353430;
  --highlight-color: #35343040;
  --tretiary-color: #353430;

  --page-text-color: #353430;
  --page-background-color: #fff1f7;
  --page-background-image: url("../images/cover-image-light.png");

  --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --primary-color: #ffc2e6;
    --secondary-color: #353430;
    --highlight-color: #35343040;
    --tretiary-color: #353430;

    --page-text-color: #353430;
    --page-background-color: #fff1f7;
    --page-background-image: url("../images/cover-image-light.png");

    --rec-visibility: hidden;
  }
}
